leaf-can-bridge-2-port-env200/source/MDK-ARM/canbridge.build_log.htm
leaf-can-bridge-2-port-env200/source/MDK-ARM/jcan/*
leaf-can-bridge-2-port-env200/source/MDK-ARM/jcan.uvguix.*
leaf-can-bridge-2-port-env200/source/output/canbridge.srec
leaf-can-bridge-3-port-env200/Debug
leaf-can-bridge-3-port-env200/Release
